@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i|Raleway:300,300i,400,400i,500,500i,600,600i&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --bg-background-base: #F5F5F5;
  --bg-background-primary: #00F49B;
  --bg-background-primary--selected: rgba(0, 244, 155, 0.5);
  --bg-background-secondary: #FFFFFF;
  --bg-background-ternary: #000000;
  --text-primary: #000000;
  --text-secondary: #747474;
  --bg-input: #FFFFFF;
  --bg-input--selected: rgba(0, 244, 155, 0.5);
  --border-input: #D6DFE0;
  --border-input--focus: #00F49B;
  --text-input: #747474;
  --border-div-container: #D6DFE0;
}

body {
  @apply bg-base;
}

.page {
  @apply pt-14;
}

.container {
  @apply mx-auto px-3;
}

@screen laptop {
  .page {
    @apply pt-16;
  }

  .container {
    @apply px-20;
  }
}

@screen desktop {
  .container {
    @apply px-16;
  }
}

/* Components */

.input-text {
  border-width: 1px;
  border-style: solid;
  @apply bg-input;
  @apply border-input rounded;
  @apply text-input;
  @apply w-full py-3 px-4;

  &:focus {
    @apply border-inputFocus;
  }
}
