@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i|Raleway:300,300i,400,400i,500,500i,600,600i&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bright-green-theme {
  --bg-background-base: #F5F5F5;
  --bg-background-primary: #00F49B;
  --bg-background-primary--selected: rgba(0, 244, 155, 0.5);
  --bg-background-secondary: #FFFFFF;
  --bg-background-ternary: #000000;
  --text-primary: #000000;
  --text-secondary: #747474;
  --bg-input: #FFFFFF;
  --bg-input--selected: rgba(0, 244, 155, 0.5);
  --border-input: #D6DFE0;
  --border-input--focus: #00F49B;
  --text-input: #747474;
  --border-div-container: #D6DFE0;
}

.dark-theme {
  --bg-background-base: #18191A;
  --bg-background-primary: #454546;
  --bg-background-primary--selected: rgba(69, 69, 70, 0.5);
  --bg-background-secondary: #242526 ;
  --bg-background-ternary: rgba(255, 255, 255, 0.1);
  --text-primary: #E4E6EB;
  --text-secondary: #B0B3B8;
  --bg-input: #454546;
  --bg-input--selected: rgba(69, 69, 70, 0.5);
  --border-input: rgba(255, 255, 255, 0.1);
  --border-input--focus: #E4E6EB;
  --text-input: #747474;
  --border-div-container: rgba(255, 255, 255, 0.1);
}
